input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"],input[type="number"]:active,input[type="number"]:focus {
    -moz-appearance: textfield;
    border-bottom: solid;
    border-width: 2px;
}  

html{
    height:100%;
}

#closebutton{
    position: absolute;
    right:30px;
    top:30px;
}

/* #closebutton:hover{
    cursor: pointer;
    text-decoration: underline;
} */

#demoplayer-line{
    display: flex;
    flex-direction: row;
    align-items:center;
    vertical-align: middle;
    flex-wrap: wrap;
    margin-top: 0.2em;
    margin-bottom: 1em;
}

#demoplayer-line > div > p{
    margin-top: 0;
    margin-bottom: 0;
}

#demolink{
    color: black;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

/* #demolink:hover{
    text-decoration: underline;
    cursor: pointer;
} */

#help-text-container{
    position:relative;
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: justify;
    max-width: 800px;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    margin:50px;
}

#helpscreen{
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    width:100%;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    justify-content: center;
}

#headers{
    position: absolute;
    top:0;
    width:100%;
}

body{
    font-family: 'Source Code Pro', monospace;
    height:100%;
    margin:0;
}

#flexwrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;

}

#headers{
    text-align: center;
}

#headers > *{
    margin:0;
}

.mainheader {
    font-size: 2.8em;
}

#maintainer{
    text-align: center;
}

.form-element{
    display: inline;
}

.form-element > *{
    padding:0;
    margin:0;
    vertical-align: middle;
    position: relative;
}

#file{
    display: none;
}

/* #filelabel:hover{
    text-decoration: underline;
    cursor: pointer;
} */



#infoRow{
    margin-top: 1em;
    margin-bottom:1em;
}


input, select, label, #submit{
    font-family: 'Source Code Pro', monospace;
    font-size: 0.83em
}
select,select:focus,input,input:focus{
    border: none;
    outline: none;
}

#submit{
    background-color: white;
    border: none;
}



a, .textbutton{
    text-decoration: none;
    color: black;
}

a:hover, .textbutton:hover, #submit:enabled:hover{
    text-decoration: underline;
    cursor: pointer;
}

.d-none, #helpscreen.d-none{
    display: none;
}

.alert-danger{
    color: #bb0000;
}

.alert-success{
    color:green;
}